body {
  background-color: black;
  text-align: center;
  color: white;
  font-family: "Zen Dots", sans-serif;
  font-weight: 100;
  font-style: normal;
}

button {
  padding: 20px;
  border-radius: 15px;
  font-size: 35px;
  margin: 15px;
  text-align: center;
  color: white;
  font-family: "Zen Dots", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.StartButton{
  background-color: green;
  
}

.ResetButton{
  background-color:red;
}